html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
nav {
  text-align: center;
  font-style: italic;
}
=======
=======
>>>>>>> 3d0217956183b3c9eb0b7bf377f081e5c4259783


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

<<<<<<< HEAD
>>>>>>> origin/feature/authentication-pages
=======
>>>>>>> 3d0217956183b3c9eb0b7bf377f081e5c4259783
